
html { 
    width: 100%; 
    height:100%; 
    overflow:hidden; 
}

body { 
    font-family: 'Open Sans', sans-serif;
    background: #13111A;
    background: 
        -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%), 
        -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), 
        -webkit-linear-gradient(-45deg, #48668c 0%, #0F4C81 10%,#13111A 60%);
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 425px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.registerMain {
    background-color: #FFFFFF;
    width: 400px;
    height: 525px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #13111A;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.error, .valid{display:none;}

.user {
    width: 76%;
    color: #13111A;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family:'Montserrat', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
}

.user:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18);    
}

.visibility {
    float: right;
    margin-left: -35px;
    margin-top: 10px;
    position: fixed;
    cursor: pointer;
    z-index: 2;
  }

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right,#0F4C81, #62a4c1);
    border: 0;
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.new-account {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    padding-top: 15px;
}

.modal {
    background-color: rgb(17, 59, 95);
    /* max-width: 100%;
    max-height: 100%; */
    width: 570px;
    height: 115px;
    padding:16px 9px;
    margin: 7em auto;
    border-radius: 1em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    top: 50%;
    left: 50%;
    display: none;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #62a4c1;
    text-decoration: none;
}

.team-description {
    width: 400px;
    height: 425px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}