body { 
    font-family:'Montserrat', sans-serif;
    background: #13111A;
    background: 
        -webkit-radial-gradient(0% 100%, circle cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%), 
        -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), 
        -webkit-linear-gradient(-45deg, #48668c 0%, #0F4C81 10%,#13111A 75%);
}

nav {
    background-color: #e6e0e0;
}

#logo-container {
    color: #13111A;
    font-family: 'Montserrat Subrayada', sans-serif;
}

h5 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.card-image.img
{
  height:150px; !important
}

.material-icons.md1::before{
  content:"search"; 
}

.material-icons.md1:hover::before{
  content:"navigate_next"; 
}